*{box-sizing: border-box;}
.shapeContainer{
    width: 80%;
    margin: auto;
    background-color: aquamarine;
    padding: 3rem;
}

.shapeDivision {
    width: 200px;
    margin: auto;
    border: solid 1px gray;
    padding: 2rem;
    text-align: center;
}

.btn_square, .btn_circle, .btn_rectangle {
    background-color: blue;
    color: white;
    padding: 1rem 2rem;
    border: none;
    width: 33%;
    cursor: pointer;
    margin-top: 3rem;
}
.btn_square:hover, .btn_circle:hover, .btn_rectangle:hover {
    background-color: red;
}

.square {
    width: 500px;
    height: 300px;
    background-color: chartreuse;
    margin: auto;
}
.circle {
    width: 500px;
    height: 300px;
    background-color: magenta;
    border-radius: 50%;
    margin: auto;
}
.rectangle{
    width: 500px;
    height: 300px;
    background-color: maroon;
    margin: auto;
}
.square, .circle, .rectangle {
    text-align: center;
    padding: 3rem;
    font-size: large;
}